<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8" />

<th:block th:include="fragments/header"></th:block>

<body class="">
	<div class="wrapper ">

		<div th:if="${employe.id == null}">
			<th:block th:include="fragments/sidebarLeft :: active('addEmploye')"></th:block>
		</div>

		<div th:if="${employe.id != null}">
			<th:block
				th:include="fragments/sidebarLeft :: active('updateEmploye')"></th:block>
		</div>

		<div class="main-panel">
			<!-- Navbar -->
			<th:block th:include="fragments/navbar"></th:block>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Edit Profile</h4>
									<p class="card-category">Complete your profile</p>
								</div>
								<div class="card-body">
									<form th:action="@{/employes/saveEmploye}" method="post"
										name='f' th:object="${employe}">
										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<label class="bmd-label-floating">Nom </label> <input
														th:field="*{id}" th:value="''" type="hidden"
														class="form-control"> <input
														th:field="*{lastName}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Prénom</label> <input
														th:field="*{firstName}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Email address</label> <input
														th:field="*{email}" th:value="''" type="email"
														class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Username</label> <input
														th:field="*{username}" th:value="''" type="text"
														class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Password</label> <input
														th:field="*{password}" th:value="''" type="password"
														class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Adress</label> <input
														th:field="*{adress}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">City</label> <input
														th:field="*{city}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Country</label> <input
														th:field="*{country}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Postal Code</label> <input
														th:field="*{postalCode}" type="text" th:value="''"
														class="form-control">
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<select class="selectpicker"
														data-style="btn btn-primary btn-round" title="Departement"
														th:field="*{departement.id}">
														<option th:each="departement : ${allDepartements}"
															th:value="${departement.id}"
															th:text="${departement.label} + '-' + ${departement.type}"></option>

													</select>

												</div>
												<div class="col-md-6">
													<div th:each="type : ${T(com.example.gestionRH.enumeration.TypeEmploye).values()}" class="form-check form-check-radio form-check-inline">
														<label class="form-check-label"> <input
															class="form-check-input" type="radio"
															name="typeEmploye" th:field="*{typeEmploye}" 
															th:value="${type}" th:text="${type}"> <span class="circle"> <span
																class="check"></span>
														</span>
														</label>
													</div>
													
												</div>
												
												<div class="col-md-6">
													<div th:each="remuneration : ${allRemuneration}" class="form-check form-check-radio form-check-inline">
														<label class="form-check-label"> <input
															class="form-check-input" type="radio"
															name="remuneration" th:field="*{remuneration.id}" 
															th:value="${remuneration.id}" th:text="${remuneration.name}"> <span class="circle"> <span
																class="check"></span>
														</span>
														</label>
													</div>
													
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>About Me</label>
													<div class="form-group">
														<label class="bmd-label-floating"> Lamborghini
															Mercy, Your chick she so thirsty, I'm in that two seat
															Lambo.</label>
														<textarea class="form-control" rows="5"></textarea>
													</div>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary pull-right"
											value="Valider">Save</button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<th:block th:include="fragments/footer"></th:block>
		</div>
	</div>

	<th:block th:include="fragments/sidebarfiltres"></th:block>
	<th:block th:include="fragments/scripts"></th:block>
</body>

</html>
